@font-face {
    font-family: "Padauk";
    src: url(Padauk-Regular.ttf);
}
.title {
    font-family: 'Times New Roman', Times, serif;
    font-size:5vw;
    color: #fbea52;
    margin-left: 24vw;
}
body {
    background-color:rgb(15, 60, 116);
    background-size:cover;
    background-position: center;
}
p {
    font-family: "Padauk";
    color: #fbea52;
    text-decoration:none;
}
a:visited {
    color: #fbea52;
    opacity:100%;
}
.infocontainer {
    display:grid;
    margin-left: 7.5vw;
    margin-right: auto;
}
.info {
    display:inline;
    margin-right: 5vmin;
    margin-bottom: 2.5vh;

}
.description, .extra, .contact, ul {
    color: #fbea52;
    font-family: 'Times New Roman', Times, serif;
}
.extra {
    opacity: .8;
}
.extra:hover {
    opacity: 100;
}
.contact {
    margin-left: 55vw;
    margin-right: auto;
    margin-top: 1vh;
    margin-bottom: 5vmin;
}
.profimage {
    max-height: 40vh;
    padding-bottom:5vh;
    margin-left: 40vw;
    padding-top: 5vh;
}
/*mobile design*/ 
@media screen and (max-width:1150px) {
    .title {
        font-family: 'Times New Roman', Times, serif;
        font-size:10vw;
        margin-left: 20vw;
        padding-bottom: 5vh
    }
    .contact {
        margin-left: 30vw;
        margin-right:5vmin;
        margin-top: 1vh;
        margin-bottom: 10vmin;
    }
    p {
        line-height: 75%;
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    a {
        font-family: "Padauk";
        text-decoration:underline;
    }
    .profimage {
        max-height: 40vh;
        padding-bottom:5vh;
        margin-left: 20vw;
        margin-right:10vmin;
    }
}